.App {

}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

ul.selectorHeader {
  background-color: #111;
  padding: 0;
  margin-top: 0;
}

ul.selectorHeader li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.selectorHeader li a {
color: #FFF;
font-weight: bold;
text-decoration: none;
padding: 20px;
display: inline-block;
}

ul.selectorHeader li a:hover {
  background-color: #60605e;
}
.selectorContent {
  font-size: large;
}

.active {
  background-color: #60605e;
}